body {
  font-family: "Commissioner", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.42857143;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

/* -------------------------- */
/* General */
/* -------------------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
      max-width: 1320px;
  }
}
