body {
  font-family: "Commissioner", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.42857143;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}
